<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>model</key>
		<string>iPhone1,1</string>
		<key>modelID</key>
		<string>m68ap</string>
		<key>name</key>
		<string>iPhone</string>
		<key>cpid</key>
		<string>8900</string>
		<key>bdid</key>
		<string>00</string>
		<key>imageable</key>
		<false/>
	</dict>
	<dict>
		<key>model</key>
		<string>iPhone1,2</string>
		<key>modelID</key>
		<string>n82ap</string>
		<key>name</key>
		<string>iPhone 3G</string>
		<key>cpid</key>
		<string>8900</string>
		<key>bdid</key>
		<string>04</string>
		<key>imageable</key>
		<false/>
	</dict>
	<dict>
		<key>model</key>
		<string>iPhone2,1</string>
		<key>modelID</key>
		<string>n88ap</string>
		<key>name</key>
		<string>iPhone 3GS</string>
		<key>cpid</key>
		<string>8920</string>
		<key>bdid</key>
		<string>00</string>
		<key>imageable</key>
		<true/>
	</dict>
	<dict>
		<key>model</key>
		<string>iPhone3,1</string>
		<key>modelID</key>
		<string>n90ap</string>
		<key>name</key>
		<string>iPhone 4 (GSM)</string>
		<key>cpid</key>
		<string>8930</string>
		<key>bdid</key>
		<string>00</string>
		<key>imageable</key>
		<true/>
	</dict>
	<dict>
		<key>model</key>
		<string>iPhone3,3</string>
		<key>modelID</key>
		<string>n92ap</string>
		<key>name</key>
		<string>iPhone 4 (CDMA)</string>
		<key>cpid</key>
		<string>8930</string>
		<key>bdid</key>
		<string>06</string>
		<key>imageable</key>
		<true/>
	</dict>
	<dict>
		<key>model</key>
		<string>iPhone4,1</string>
		<key>modelID</key>
		<string>n94ap</string>
		<key>name</key>
		<string>iPhone 4S</string>
		<key>cpid</key>
		<string>8940</string>
		<key>bdid</key>
		<string>08</string>
		<key>imageable</key>
		<false/>
	</dict>
	<dict>
		<key>model</key>
		<string>iPod1,1</string>
		<key>modelID</key>
		<string>n45ap</string>
		<key>name</key>
		<string>iPod touch</string>
		<key>cpid</key>
		<string>8900</string>
		<key>bdid</key>
		<string>02</string>
		<key>imageable</key>
		<false/>
	</dict>
	<dict>
		<key>model</key>
		<string>iPod2,1</string>
		<key>modelID</key>
		<string>n72ap</string>
		<key>name</key>
		<string>iPod touch 2G</string>
		<key>cpid</key>
		<string>8720</string>
		<key>bdid</key>
		<string>00</string>
		<key>imageable</key>
		<false/>
	</dict>
	<dict>
		<key>model</key>
		<string>iPod3,1</string>
		<key>modelID</key>
		<string>n18ap</string>
		<key>name</key>
		<string>iPod touch 3G</string>
		<key>cpid</key>
		<string>8922</string>
		<key>bdid</key>
		<string>02</string>
		<key>imageable</key>
		<false/>
	</dict>
	<dict>
		<key>model</key>
		<string>iPod4,1</string>
		<key>modelID</key>
		<string>n81ap</string>
		<key>name</key>
		<string>iPod touch 4G</string>
		<key>cpid</key>
		<string>8930</string>
		<key>bdid</key>
		<string>08</string>
		<key>imageable</key>
		<true/>
	</dict>
	<dict>
		<key>model</key>
		<string>iPad1,1</string>
		<key>modelID</key>
		<string>k48ap</string>
		<key>name</key>
		<string>iPad</string>
		<key>cpid</key>
		<string>8930</string>
		<key>bdid</key>
		<string>02</string>
		<key>imageable</key>
		<true/>
	</dict>
	<dict>
		<key>model</key>
		<string>iPad2,1</string>
		<key>modelID</key>
		<string>k93ap</string>
		<key>name</key>
		<string>iPad 2 (WiFi)</string>
		<key>cpid</key>
		<string>8940</string>
		<key>bdid</key>
		<string>04</string>
		<key>imageable</key>
		<false/>
	</dict>
	<dict>
		<key>model</key>
		<string>iPad2,2</string>
		<key>modelID</key>
		<string>k94ap</string>
		<key>name</key>
		<string>iPad 2 (GSM)</string>
		<key>cpid</key>
		<string>8940</string>
		<key>bdid</key>
		<string>06</string>
		<key>imageable</key>
		<false/>
	</dict>
	<dict>
		<key>model</key>
		<string>iPad2,3</string>
		<key>modelID</key>
		<string>k95ap</string>
		<key>name</key>
		<string>iPad 2 (CDMA)</string>
		<key>cpid</key>
		<string>8940</string>
		<key>bdid</key>
		<string>02</string>
		<key>imageable</key>
		<false/>
	</dict>
</array>
</plist>
